.h1{
    font-size: 48px;
    text-align: center;
    background-color: rgba(16, 18, 162, 0.288);
   
}
.logo
{
    top: 20px;
    height: 19px;
    width: 100;
}
.logo img {
    height: 84px;
    width: auto;
}